In [1]:
import pandas as pd
df_train = pd.read_parquet('processed/train.snappy.parquet')
df_val = pd.read_parquet('processed/val.snappy.parquet')

In [4]:
import json
with open('processed/pipeline_model.json') as f:
    params = json.load(f)

In [5]:
df_train.head(2)

,src_port,dst_port,protocol,packet_count,conn_state,bytes_transferred,timestamp,attack,timestamp_ts,hour,...,dst_port_norm,packet_count_norm,bytes_transferred_norm,bytes_log_norm,packet_log_norm,hour_norm,dayofweek_norm,is_weekend_norm,hour_sin_norm,hour_cos_norm
0,48364,35671,TCP,218,EST,491361.431556,1768240832000000000,0,1717-03-31 08:59:44.950139928,4,...,0.205813,-0.055425,1.206627,0.824513,0.338444,0.0,0.0,0.0,-3.685940e-14,3.330669e-16
1,18818,62148,TCP,373,EST,430263.657678,1768240891000000000,0,1717-03-31 08:59:44.950139928,4,...,1.596759,0.588400,0.882650,0.714696,0.868100,0.0,0.0,0.0,-3.685940e-14,3.330669e-16